body {
     margin: 0;
     background: url('idk.jpg');
     opacity: 0.5;
     background-size: 1440px 800px;
     background-repeat:no-repeatdisplay: compact;
     font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
